In [1]:
!wget http://cs231n.stanford.edu/tiny-imagenet-200.zip

--2021-11-14 15:05:02--  http://cs231n.stanford.edu/tiny-imagenet-200.zip
Resolving cs231n.stanford.edu (cs231n.stanford.edu)... 171.64.68.10
Connecting to cs231n.stanford.edu (cs231n.stanford.edu)|171.64.68.10|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 248100043 (237M) [application/zip]
Saving to: ‘tiny-imagenet-200.zip’

tiny-imagenet-200.z 100%[===================>] 236.61M  37.7MB/s    in 6.9s

2021-11-14 15:05:10 (34.1 MB/s) - ‘tiny-imagenet-200.zip’ saved [248100043/248100043]

In [2]:
!unzip -qq 'tiny-imagenet-200.zip'

In [12]:
cat_list = [path.stem for path in Path("tiny-imagenet-200/train").glob('*')]
cat_list.sort()

In [16]:
cat_dict = {cat: idx for (idx, cat) in list(enumerate(cat_list))}
cat_dict

{'n01443537': 0,
 'n01629819': 1,
 'n01641577': 2,
 'n01644900': 3,
 'n01698640': 4,
 'n01742172': 5,
 'n01768244': 6,
 'n01770393': 7,
 'n01774384': 8,
 'n01774750': 9,
 'n01784675': 10,
 'n01855672': 11,
 'n01882714': 12,
 'n01910747': 13,
 'n01917289': 14,
 'n01944390': 15,
 'n01945685': 16,
 'n01950731': 17,
 'n01983481': 18,
 'n01984695': 19,
 'n02002724': 20,
 'n02056570': 21,
 'n02058221': 22,
 'n02074367': 23,
 'n02085620': 24,
 'n02094433': 25,
 'n02099601': 26,
 'n02099712': 27,
 'n02106662': 28,
 'n02113799': 29,
 'n02123045': 30,
 'n02123394': 31,
 'n02124075': 32,
 'n02125311': 33,
 'n02129165': 34,
 'n02132136': 35,
 'n02165456': 36,
 'n02190166': 37,
 'n02206856': 38,
 'n02226429': 39,
 'n02231487': 40,
 'n02233338': 41,
 'n02236044': 42,
 'n02268443': 43,
 'n02279972': 44,
 'n02281406': 45,
 'n02321529': 46,
 'n02364673': 47,
 'n02395406': 48,
 'n02403003': 49,
 'n02410509': 50,
 'n02415577': 51,
 'n02423022': 52,
 'n02437312': 53,
 'n02480495': 54,
 'n02481823': 55,
 'n02486410': 56,
 'n02504458': 57,
 'n02509815': 58,
 'n02666196': 59,
 'n02669723': 60,
 'n02699494': 61,
 'n02730930': 62,
 'n02769748': 63,
 'n02788148': 64,
 'n02791270': 65,
 'n02793495': 66,
 'n02795169': 67,
 'n02802426': 68,
 'n02808440': 69,
 'n02814533': 70,
 'n02814860': 71,
 'n02815834': 72,
 'n02823428': 73,
 'n02837789': 74,
 'n02841315': 75,
 'n02843684': 76,
 'n02883205': 77,
 'n02892201': 78,
 'n02906734': 79,
 'n02909870': 80,
 'n02917067': 81,
 'n02927161': 82,
 'n02948072': 83,
 'n02950826': 84,
 'n02963159': 85,
 'n02977058': 86,
 'n02988304': 87,
 'n02999410': 88,
 'n03014705': 89,
 'n03026506': 90,
 'n03042490': 91,
 'n03085013': 92,
 'n03089624': 93,
 'n03100240': 94,
 'n03126707': 95,
 'n03160309': 96,
 'n03179701': 97,
 'n03201208': 98,
 'n03250847': 99,
 'n03255030': 100,
 'n03355925': 101,
 'n03388043': 102,
 'n03393912': 103,
 'n03400231': 104,
 'n03404251': 105,
 'n03424325': 106,
 'n03444034': 107,
 'n03447447': 108,
 'n03544143': 109,
 'n03584254': 110,
 'n03599486': 111,
 'n03617480': 112,
 'n03637318': 113,
 'n03649909': 114,
 'n03662601': 115,
 'n03670208': 116,
 'n03706229': 117,
 'n03733131': 118,
 'n03763968': 119,
 'n03770439': 120,
 'n03796401': 121,
 'n03804744': 122,
 'n03814639': 123,
 'n03837869': 124,
 'n03838899': 125,
 'n03854065': 126,
 'n03891332': 127,
 'n03902125': 128,
 'n03930313': 129,
 'n03937543': 130,
 'n03970156': 131,
 'n03976657': 132,
 'n03977966': 133,
 'n03980874': 134,
 'n03983396': 135,
 'n03992509': 136,
 'n04008634': 137,
 'n04023962': 138,
 'n04067472': 139,
 'n04070727': 140,
 'n04074963': 141,
 'n04099969': 142,
 'n04118538': 143,
 'n04133789': 144,
 'n04146614': 145,
 'n04149813': 146,
 'n04179913': 147,
 'n04251144': 148,
 'n04254777': 149,
 'n04259630': 150,
 'n04265275': 151,
 'n04275548': 152,
 'n04285008': 153,
 'n04311004': 154,
 'n04328186': 155,
 'n04356056': 156,
 'n04366367': 157,
 'n04371430': 158,
 'n04376876': 159,
 'n04398044': 160,
 'n04399382': 161,
 'n04417672': 162,
 'n04456115': 163,
 'n04465501': 164,
 'n04486054': 165,
 'n04487081': 166,
 'n04501370': 167,
 'n04507155': 168,
 'n04532106': 169,
 'n04532670': 170,
 'n04540053': 171,
 'n04560804': 172,
 'n04562935': 173,
 'n04596742': 174,
 'n04597913': 175,
 'n06596364': 176,
 'n07579787': 177,
 'n07583066': 178,
 'n07614500': 179,
 'n07615774': 180,
 'n07695742': 181,
 'n07711569': 182,
 'n07715103': 183,
 'n07720875': 184,
 'n07734744': 185,
 'n07747607': 186,
 'n07749582': 187,
 'n07753592': 188,
 'n07768694': 189,
 'n07871810': 190,
 'n07873807': 191,
 'n07875152': 192,
 'n07920052': 193,
 'n09193705': 194,
 'n09246464': 195,
 'n09256479': 196,
 'n09332890': 197,
 'n09428293': 198,
 'n12267677': 199}

In [18]:
import os
from pathlib import Path
import pandas as pd

In [44]:
if 1:
    split = "train"
    dir = "tiny-imagenet-200/" + split

    ls = list()
    for path in Path(dir).glob('**/*.JPEG'):
        parts = list(path.parts)[2:]
        p_str = "/".join(parts)
        cat_idx = cat_dict[parts[0]]
        ls.append((p_str, cat_idx))

    df = pd.DataFrame.from_records(ls)
    df.to_csv(split + ".txt", sep=" ", index=False, header=False)

In [45]:
!head train.txt

n02795169/images/n02795169_472.JPEG 67
n02795169/images/n02795169_81.JPEG 67
n02795169/images/n02795169_209.JPEG 67
n02795169/images/n02795169_458.JPEG 67
n02795169/images/n02795169_5.JPEG 67
n02795169/images/n02795169_256.JPEG 67
n02795169/images/n02795169_483.JPEG 67
n02795169/images/n02795169_365.JPEG 67
n02795169/images/n02795169_254.JPEG 67
n02795169/images/n02795169_405.JPEG 67

In [56]:
ann_df = pd.read_csv("tiny-imagenet-200/val/val_annotations.txt", sep="\t", header=None)

In [61]:
ann_df.columns = ["p_str", "cat", "bb0", "bb1", "bb2", "bb3"]

In [66]:
df = pd.DataFrame()
df["p_str"] = ann_df["p_str"].apply("images/{}".format)
df["cat"] = ann_df["cat"].map(cat_dict)

In [67]:
df

                     p_str  cat
0        images/val_0.JPEG  107
1        images/val_1.JPEG  139
2        images/val_2.JPEG  140
3        images/val_3.JPEG   69
4        images/val_4.JPEG   69
...                    ...  ...
9995  images/val_9995.JPEG   92
9996  images/val_9996.JPEG  107
9997  images/val_9997.JPEG  106
9998  images/val_9998.JPEG    1
9999  images/val_9999.JPEG   61

[10000 rows x 2 columns]

In [68]:
df.to_csv("val.txt", sep=" ", index=False, header=False)

In [70]:
!head val.txt

images/val_0.JPEG 107
images/val_1.JPEG 139
images/val_2.JPEG 140
images/val_3.JPEG 69
images/val_4.JPEG 69
images/val_5.JPEG 161
images/val_6.JPEG 147
images/val_7.JPEG 73
images/val_8.JPEG 145
images/val_9.JPEG 39